body {
  color: $text;
}

hr {
  max-width: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ebedef;
}

.header_logo {
  @include rem(margin-top, -4px);
  @include rem(margin-bottom, -4px);

  &__title {
    position: relative;

    @include rem(font-size, 28px);
    @include rem(top, 2px);
  }
}

.header__logo img {
  @include rem(height, 50px);
}

@media (max-width: 543px) {
  .header__logo {
    width: 33px;
  }
}

.section_subtitle {
  line-height: 1.33;
  color: #657180;
  font-family: $ff-alt;

  @include rem(font-size, 30px);
  @include rem(margin-bottom, 12px);
}

.page_header {
  text-align: center;

  @include rem(margin-bottom, 58px);
}

.btn--flat {
  color: #0388ef !important;
}

.block_support {
  @include rem(margin-bottom, 100px);
}

.section {
  &.section--lead {
    @include rem(padding, 90px 0);
  }

  &.section--padding {
    @include rem(padding, 60px 0);
  }

  @media all and (max-width: $screen-landscape) {
    &.section--padding {
      padding: 30px 0;
    }
  }
}

.lead, .text .lead{
  color: inherit;
}

.hgroup {
  @include rem(margin-bottom, 25px);
  @include rem(margin-top, 55px);

  .btn--icon {
    color: $primary !important;

    &:hover {
      color: rgba($primary, .8) !important;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.section__title {
  color: #111;
}

h1, .h1 {
  font-family: $ff-alt;
  line-height: 1;

  @include rem(margin-bottom, 20px);
}


h2, .h2 {
  font-family: $ff-alt;
  line-height: 1.25;
  letter-spacing: -0.4px;
  color: #111111;

  @include rem(font-size, 40px);
  @include rem(margin-bottom, 45px);
}

h3, .h3 {
  font-family: $ff-alt;
  line-height: 1;
  font-weight: bold;

  @include rem(font-size, 26px);
  @include rem(margin-bottom, 10px);

}

h3.subtitle {
  line-height: 1.33;
  font-weight: bold;
  color: #111111;

  @include rem(font-size, 30px);
  @include rem(margin-bottom, 20px);
}

p.lead {
  @include rem(margin-bottom, 40px);

  + p.lead {
    @include rem(margin-top, -20px);
  }
}

.text {
  p, ul, ol, ul li, ol li {
    color: inherit;

    a:not(.btn) {
      font-weight: $fw-semi;
      color: #0388ef;

      &:hover {

      }
    }
  }

  h1,h2,h3 {
    font-family: $ff-alt;
    font-weight: $fw-semi;
    line-height: 1.33;
  }

  h4, .h4 {
    line-height: 1.67;
  }

  h2, .h2 {
    @include rem(margin-bottom, 20px);
  }

  h3, .h3 {
    @include rem(margin-bottom, 16px);
  }

  blockquote {
    border-radius: 8px;
    background-color: $white;
    border: solid 1px $border-alt;
    text-align: left;
    position: relative;
    color: inherit;
    max-width: none;

    @include rem(padding, 14px 25px);

    &:after {
      border-radius: 100px;
      border-left: 2px solid #0388ef;
      content: '';
      position: absolute;

      @include rem(top, 10px);
      @include rem(bottom, 10px);
      @include rem(left, -1px);
    }

    h4, .h4, p {
      margin-bottom: 0;
    }
  }

  p.lead {
    @include rem(margin-bottom, 30px);

    + p.lead {
      @include rem(margin-top, -15px);
    }
  }

  ul {
    li {
      &:before {
        color: $text;
      }
    }
  }

  ol, ul {
    .hint {

    }
  }
}

.nav-tabs {
  text-align: left;
  font-size: 0;
  border-bottom: 0;
  border-bottom: 1px solid $border-alt;

  @include rem(margin-top, 35px);
  @include rem(margin-bottom, 28px !important);
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  > li {
    border-radius: 0;
    margin-bottom: -1px !important;

    &:before, &:after {
      display: none;
      content: '';
      padding: 0;
    }

    > a:not(.btn) {
      display: block;

      @include rem(padding, 13px 12px);
    }
  }

  .btn--icon {
    @include rem(padding, 13px 4px);
    @include rem(margin-right, 6px);
  }
}

.modal {
  &--text {
    .modal__dialog {
      width: 570px;
      max-width: 100%;
    }

    .text {
      margin-top: 15px;
    }

    a {
      font-weight: $fw-semi;
    }
  }
}

.fade.in {
  opacity: .5;
}

.modal_valign {
  table-layout: fixed;
  padding: 0 10px;
}

.modal .close {
  z-index: 10;
}

@media all and (max-width: $screen-tablet) {
  .section.section--lead {
    padding: 50px 0;
  }
}

.affiliate_info {
  border-top: 1px solid $border-alt;
  border-bottom: 1px solid $border-alt;

  @include rem(margin, 58px 0);

  &__item {
    @include rem(margin, 30px 0)
  }

  &__title {
    line-height: 1.88;
    color: #657180;

    @include rem(font-size, 16px);
    @include rem(margin-bottom, 2px);
  }

  &__value {
    font-family: $ff-alt;
    font-weight: bold;
    line-height: 1.35;
    color: #111111;

    @include rem(font-size, 26px);
  }
}

.share {
  @include rem(padding, 0 10px);
  @include rem(margin-top, 18px);

  &_item {
    color: #111;
    font-weight: $fw-semi;

    @include rem(font-size, 16px);
    @include rem(padding, 4px);

    .icon {
      position: relative;

      @include rem(margin-right, 10px);
      @include rem(top, -2px);

      &--envelope {
        @include rem(top, -3px);
      }
    }

    &:hover {
      color: #111;
      opacity: .8;
    }
  }

  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 !important;

      @include rem(margin-right, 25px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.block_subscribe h5, .block_subscribe .h5 {
  font-family: $ff;
  font-weight: $fw-semi;
}